
@font-face {
    font-family: 'SF Pro Heavy';
    src: local("SF Pro Heavy"), url('./fonts/sf-pro-text-heavy-webfont.woff2') format('woff2'),
        url('./fonts/sf-pro-text-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: local("SF Pro Regular"), url('./fonts/sf-pro-text-regular-webfont.woff2') format('woff2'),
        url('./fonts/sf-pro-text-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Bold';
    src: local("SF Pro Display Bold"), url('./fonts/sf-pro-display-bold-webfont.woff2') format('woff2'),
        url('./fonts/sf-pro-display-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.custom-header {
    font-family: 'SF Pro Heavy', Avenir;
}
.underlined {
    text-decoration: underline;
}
body {
    font-family: 'SF Pro';
}
.img-center {
    margin-left: auto;
    margin-right: auto;
}

#particles-js canvas {
    position: absolute;
    margin-top: 0;
    height: 100vh !important;
    width: 100vw !important;
    z-index: -1;
    background-image: url(images/cartoon.jpg)!important;
    background-position:center;
    background-size:cover;
}
.particles-js-canvas-el {
    height: 150% !important;
}
.bold {
    font-family: 'SF Pro Bold'
}
.custom-par {
    font-size: 1.25em;
}

footer {
    display: flex;
}
.sign-button {
    /*background-image: linear-gradient(to right, #4b6cb7, #182848);*/
    background-color: #238e8c;
    color:white;
    font-family: 'SF Pro Heavy';
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
}
.button span {
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.sign-button span:after {
    content:"\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.sign-button:hover span{
    /*background-image: linear-gradient(to right, #ffeeee, #ddefbb);*/
    padding-right: 25px;
}
.sign-button:hover {
    background-image: linear-gradient(to right, #ec6f66, #f3a183);
    box-shadow:
        1px 1px #53a7ea,
        2px 2px #53a7ea,
        3px 3px #53a7ea;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px;)
}
.sign-button:hover span:after {
    opacity: 1;
    right: 0;
    color: white;
}
*, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.main-title{
color: #2d2d2d;
text-align: center;
text-transform: capitalize;
padding: 0.7em 0;
}

.container{
padding: 1em 0;
float: left;
width: 50%;
}
@media screen and (max-width: 640px){
.container{
    display: block;
    width: 100%;
}
}

@media screen and (min-width: 900px){
.container{
    width: 33.33333%;
}
}

.container .title{
color: #1a1a1a;
text-align: center;
margin-bottom: 10px;
}

.content {
position: relative;
width: 90%;
max-width: 400px;
margin: auto;
overflow: hidden;
}

.content .content-overlay {
position: absolute;
height: 99%;
width: 100%;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0;
-webkit-transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
opacity: 1;
}

.content-image{
width: 100%;
}

.content-details {
position: absolute;
text-align: center;
padding-left: 1em;
padding-right: 1em;
width: 100%;
top: 50%;
left: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
top: 50%;
left: 50%;
opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
color: #fff;
font-size: 0.8em;
}

.fadeIn-bottom{
top: 80%;
}

.fadeIn-top{
top: 20%;
}

.fadeIn-left{
left: 20%;
}

.fadeIn-right{
left: 80%;
}
.sponsors {
    max-height:200px !important;
    max-width: 350px !important;
    display:block;
    margin:auto;
}