.navbar {
	opacity: 0.85;
}
.navbar-auth-button {
	font-weight: bold;
	margin-left: 10px;
}
.navbar-auth-button.sign-up,
.navbar-auth-button.sign-out {
	margin-right: 10px;
}
section.hero.main {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(to right, rgba(255, 171, 240, 0.5), rgba(41, 199, 255, 0.5));
}
.main-hero-image {
	max-width: 700px;
}
.centered-image {
	margin: auto;
}
.main-subtitle {
	font-weight: bold;
}
section.hero.sign-up .hero-body, section.hero.about .hero-body, section.hero.faq .hero-body, section.hero.schedule .hero-body{
	background-color: #689dae;
}
.sm-icon {
	color: white !important;
	margin: 8px;
}
.sm-icon:hover {
	color: #ddd !important;
	transition: color 250ms;
}
section.hero.sign-up .hero-body{
	justify-content: center;
}
section.hero.sign-up form {
	width: 50vw;
	color: white;
}
form.sign-up .button.submit {
	font-weight: bold;
	margin-top: 8px;
	width: 150px;
}
section.hero.our-team {
	background-color: #689dae;
}
section.hero.our-team .card {
	border-radius: 5% !important;
}
section.hero.our-team .card-image {
	width: 200px;
	height: 200px;
}
section.hero.our-team .our-team-title {
	margin-bottom: 40px;
}
#particles-js canvas {
	position: absolute;
	z-index: -1;
	background-image: url(/images/blurry-buildings.jpg);
	background-position: center;
	background-size: cover;
}
